* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Gill Sans', sans-serif;
}

.list {
    display: flex;
    padding: 15px;
    margin-top: 15px;
    align-items: center;
}

.list__text {
  display: inline-block;
  margin: 0 15px;
}


.leftSideBar {
  width: 20%;
  left: 0;
  background: white;
  position: relative;
}

.rightSideBar {
  width: 80%;
  right: 0;
  background: #ebebeb;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.header-leftSideBar {
  display: flex;
  padding: 15px 20px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.header-rightSideBar{
  display: flex;
  padding: 20px 0;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.body-leftSideBar {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}

.button-leftSideBar {
  position: fixed;
  bottom: 15px;
  width: 20%;
}

.task {
  display: flex;
  margin-top: 15px;
  align-items: center;
  width: 100%;
  padding: 10px 25px;
  border-radius: 10px;
  background: white;
  border: 1px solid white;
}

.task__content {
  
}

.rightSideBar__content {
  margin: 20px 100px;
}